.DS_Store
__pycache__

turtlesim_ws/build/*
turtlesim_ws/install/*
turtlesim_ws/log/*
backend_ws/build/*
backend_ws/install/*
backend_ws/log/*
bagfile/*
cloud_ws/build/*
cloud_ws/install/*
cloud_ws/log/*
